---
import "../styles/globals.css";

import { ViewTransitions, fade } from "astro:transitions";
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";

export interface Props {
  title: string;
  description: string;
  class?: string;
}

const {
  title,
  description,
  class: clazz,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions transition:animate={fade({ duration: "0.2s" })} />

    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="luxass.dev" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <!-- links -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preload" href="/fonts/dm-sans.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  </head>
  <body>
    <Header />
    <main class="flex-1 p-4" class:list={clazz} transition:animate="slide">
      <slot />
    </main>
    <Footer />
  </body>
</html>
